<div class="hero-unit">
<p id="notice"><%= notice %></p>
<h1>Registration Summary</h1>


</p>

	<div class=" panel text ">
		<div class="row">
	   	 <div class="eight columns">
	  
		 	<div class="row"><h4 class="span8">Event ID : </h4><p><%= @event_registration.event_id %></div></br></p>
			<div class="row"><h4 class="span8">First Name : </h4><p><%= @event_registration.first_name %> </div></br></p>
			<div class="row"><h4 class="span8">Last Name : </h4><p><%= @event_registration.last_name %></div></br></p>
			<div class="row"><h4 class="span8">Address : </h4><p><%= @event_registration.address %></div></br></p>
			<div class="row"><h4 class="span8">Childs Name : </h4><p><%= @event_registration.child_name %> </div></br></p>
			<div class="row"><h4 class="span8">Childs Age : </h4><p><%= @event_registration.child_age %></div></br></p>			
			<div class="row"><h4 class="span8">Other Details: </h4><p><%= @event_registration.other_details %></div></br></p>
		
			 </div>
		   </div>
		
	    </div>


<p>


<h2>thank you for your booking</h2>
</div>